@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap");
@import "tailwindcss";

* {
  font-family: "Futura", sans-serif;
}

body {
  scrollbar-gutter: stable;
}

/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
